<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="annotations">
        <classes>

            <class name="ConfigTests">

            </class>

            <class name="CheckboxTests">
                <methods>
                 <include name="openBrowser"/>
                    <include name="uncheck"/>
                    <include name="check"/>

                </methods>
            </class>


            <class name="RadioButtonTests">
                <methods>
                    <include name="openBrowser1"/>
                    <include name="selectYes"/>
                    <include name="selectNo"/>
                </methods>
            </class>




    </classes>

    </test>
</suite>